{{- $domain := env "DOMAIN" -}}
{{- if eq $domain "" }}{{ $domain = "example.com" }}{{ end -}}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>{{ $domain }} is parked</title>
		<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="/app.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<div id="text">Now<br />Brewing</div>
		<div id="credit">
			<a href="https://unsplash.com/photos/7vb8YRXPdOQ" rel="noopener noreferrer" target="_blank">
				{{ svg "./img/camera-retro-duotone.svg" -}}
				Hans Ripa
			</a>
		</div>
	</body>
</html>
